* {
    margin: 0;
    padding: 0;
}
body {
    width: 30%;
    margin: 1em auto;
    background-image: url("/images/hinh1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
