body{
    height: 100vh;
    
}
.Header{
    height: 25%;
    &__Ul{
        &__Li{
            &-First{
                &--border-bottom-white{
                    padding-bottom: 3px;
                    border-bottom: 5px solid white;
                    
                }
                
                }
            }
            &-Second{
                &__Anchor{
                    &--white{
                        color: white !important;
                    }
                    &--hover:hover{
                        border-bottom: 5px solid gray;
                        text-decoration: none;
                        padding-bottom: 3px;
                    }
                }
            }
        }
    }
}

.Content{
    height: 50%;
    
}
.Footer{
    height: 25%;
}
.btn-secondary{
    color: #333 !important;
    text-shadow: none !important;
    background-color: #fff !important;
    border: .05rem solid #fff !important;
}



