.site-header{
    background-color: rgba(0, 0, 0, .85);
}
.site-header a{
    color: #999;
}
.site-header a:hover{
    color: white;
}
.Product__Height{
    height: 300px;
    border-radius: 21px 21px 0 0;
    width: 60%;
}
.display-1{
    font-size: 3.5rem;
    
}
.font-weight-normal{
    font-weight: 400% !important;

}