*{
    padding: 0;
    margin: 0;
}

body{
    margin: 10px auto;
    background-color: lightgreen;
    width: 600px;
}
form{
    border: 2px solid black;
    
    padding-top: 10px ;
    width: 400px;
    height: 400px;
    background-color: rgb(74, 82, 81);
}
input{
    margin: 10px 50px;
    width: 300px;
    height: 30px;
}
input#check{
    width: 10px;
    height: 10px;
    padding: 0;
}
button{
    width: 300px;
    height: 40px;
    margin: 10px 50px;
}
span{
    margin: 0px 50px;
}
p{
    margin-top: 10px;
}
h1{
    margin: 10px 10px;
}
